<!-- PAGE | MANUALS-CANVAS -->
<div class="pages page-usecases" id="page-manual-canvas">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -INTRO -->

    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>CREATING YOUR CANVAS</12>

        <div class="subsection">
            <p id="canvastype">Canvas Types</p> <br>
            Add Canvases in the Canvas Tab of the left panel,
            the list of available canvases and their corresponding
            controls are as follows:
            <br><br>
            Half Dome canvas - A Half Sphere
            <br><br>
            Controls (found in the Canvas Tab in the left hand panel)
            <br>
            Diameter - The Diameter of your dome.
            <br>
            Rotation - X,Y & Z Rotation of your dome.
            <br>
            Translation - X,Y & Z Translation of your dome (moving the dome around the scene).
            <br>
            Scale - X,Y & Z Scale of your dome. (Squashes and Streches your dome, good for compensating against gravity).
            </div>

          <br>
          Half Dome Canvas
          <br>
          <img src="{{ 'manual/canvas1.png' | theme_image_url }}" width="auto"  alt="Half Dome">
          <br>

          <div class="subsection">
            <br><br>
              Full Sphere Canvas - A Full Sphere
              <br><br>
              Controls (found in the Canvas Tab in the left hand panel)
              <br>
              Diameter - The Diameter of your dome.
              <br>
              Rotation - X,Y & Z Rotation of your dome.
              <br>
              Translation - X,Y & Z Translation of your dome (moving the dome around the scene).
              <br>
              Scale - X,Y & Z Scale of your dome. (Squashes and Streches your dome, good for compensating against gravity).
              </div>

          <br>
          Full Sphere Canvas
          <br>
          <img src="{{ 'manual/canvas2.png' | theme_image_url }}" width="auto"  alt="Full Sphere">
          <br>

          <div class="subsection">
            <br><br>
              Box Canvas - A Square or Rectangular Box
              <br><br>
              Controls (found in the Canvas Tab in the left hand panel)
              <br>
              Height, Width & Length of your box
              <br>
              Rotation - X,Y & Z Rotation of your box.
              <br>
              Translation - X,Y & Z Translation of your box (moving the box around the scene).
              <br>
              Scale - X,Y & Z Scale of your box. (Slightly different from height, width & length).
         </div>

         <br>
          Box Canvas
         <br>
         <img src="{{ 'manual/canvas3.png' | theme_image_url }}" width="auto"  alt="Box">
         <br>
         <br>

          <div class="subsection">
            <p id="scenecontrol">Scene Controls</p><br>
            Control the scene information from the Scene Tab in the left panel.
            <br>
            Controls (found in the Scene Tab in the left hand panel)
            <br>
            Scene Size - Scale the Global Scene Size.
            <br>
            Unit - Choose the appropriate unit of measurement for your scene.
            <br>
            Fit to Canvas - Will rescale the Scene to fit the Canvas.
            <br>
            (Useful if your object is too big to move around your scene or
            to small to see properly in your viewport).
            <br>
            Rescale Values - Toggle automatic projector scaling.<br>
            When this option selected the projectors will automatically rescale with the scene,
            when deselected they will retain their current postion and values.

          </div>

          <br>
          <img src="{{ 'manual/scene1.png' | theme_image_url }}" width="auto"  alt="Scene Controls">
          <br>
          <br>


          <div class="subsection">
            <p id="inputselect">Adding Inputs to your scene</p><br>
            Add inputs from the Input Tab in the left panel.
          </div>

          <br>
          Input selected in the left tab
          <br>
          <img src="{{ 'manual/input1.png' | theme_image_url }}" width="auto"  alt="Add Input">
          <br>
          Fisheye Test Image
          <br>

          <img src="{{ 'manual/input2.png' | theme_image_url }}" width="auto"  alt="Add Input">
        

<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
