<!-- PAGE | MANUALS-CANVAS -->
<div class="pages page-usecases" id="page-manual-arrange">
  <div class="container">
    <!-- Header -->
      <div style="height: 2em"></div>

    <header>
      <!-- PAGE | MANUALS -INTRO -->

    <!-- End Header -->

    <!-- Article -->
    <article>


            <h12>ARRANGING YOUR PROJECTORS</12>

        <div class="subsection">
            <p id="projcontrol">Projector Controls</p> <br>
            Model your scene with the projector controls,
            take measurements and try to get the positions in the software
            to match as closely to your real projection scene as possible.
          </div>

          <br>

          Postioning the Projectors
          <br>
          <img src="{{ 'manual/proj1.png' | theme_image_url }}" width="auto"  alt="projecters 1">

          <br>
          <br>

          <div class="subsection">
            <p id="scenemap">Mapping the scene</p><br>
            Position the projectors in the center panel using the individual controls
            in the projector panel on the right. Try to model your real projection
            setup as closely as possible, take measurements if neccesarry and remember to
            check your projectors datasheets to get the correct throw ratio and keystone.
          </div>

          <br>
          <img src="{{ 'manual/proj2.png' | theme_image_url }}" width="auto"  alt="projectors2">
          <br>
          <br>
          <img src="{{ 'manual/proj3.png' | theme_image_url }}" width="auto"  alt="projecters 3">
          <br>
          <br>


          <div class="subsection">
            <p id="useinput">Using the Inputs</p><br>
            Use the Input and Mapping Tabs to try different mapping modes
            and content types. Add still images or a Syphon output from
            another application.
          </div>
          <br>
          Equirectangular (Spherical) mapped to a half dome
          <img src="{{ 'manual/proj4.png' | theme_image_url }}" width="auto"  alt="projecters 4">
          <br>

          <br>
          Equirectangular (Spherical) Incorrectly Mapped to half dome
          <img src="{{ 'manual/proj6.png' | theme_image_url }}" width="auto"  alt="projecters 5">
          <br>

          Cube Map mapped to a half dome
          <img src="{{ 'manual/proj5.png' | theme_image_url }}" width="auto"  alt="projecters 6">


<div style="height: 6em"></div>

    </div>
</div>



    </article>
    <!-- End Article -->


<!-- END PAGE | SERVICES -->
